:host {
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  padding-top: 3rem;

  &:hover {
    overflow-y: auto;
  }


  aside {
    background-color: var(--second-color-15);
    color: white;
    height: 100%;
    padding: 0.5rem 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 5rem;

    .divider {
      opacity: 0.2;
    }

    @media (max-width: 60rem) {
      display: none;
    }
  }
  .first-section {


      .show-user-name {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        padding: 0.6rem;

        .user {
          background-color: white;
          padding: 1.2rem;
          border-radius: 50%;
        }
      }

      .see-more {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;

        a {
          background-color: var(--second-color-00);
          padding: 0.5rem;
          color: white;
          display: flex;
          place-items: center;
          border-radius: 50%;
        }
    }
  }

  .second-section {

    .edit {
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: var(--first-color-10);
        padding: 0.5rem;
        border-radius: 0.2rem;

        &:hover {
          background-color: var(--second-color-00);
          padding: 0.5rem;
        }
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.9rem;

      li {
        display: flex;
        gap: 0.8rem;
        align-items: center;
        font-weight: 500;
        padding: 0.5rem;

        div {
          padding: 1.1rem;
          background-color: white;
          border-radius: 50%;
        }

        &.see-more {
          padding: 0.5rem;
          a {
            background-color: var(--second-color-00);
            padding: 0.5rem;
            color: white;
            display: flex;
            place-items: center;
            border-radius: 50%;
          }

        }
      }
    }
  }

  .third-section {

    ul {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.8rem;
      list-style: none;
      gap: 0.8rem;
      li {
        cursor: pointer;
        opacity: 0.5;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }


}
