<div class="wrapper tw-flex tw-flex-col tw-gap-4">
  <header class="tw-flex tw-flex-col tw-gap-3">
    <div class="tw-flex tw-justify-between tw-text-white tw-font-bold tw-items-center">
      <h1 class="tw-text-xl">Fotos</h1>
      <a href="#" class="tw-text-sm tw-text-blue-1200 hover:tw-underline">Todas as fotos</a>
    </div>
  </header>
  <ul class="tw-grid tw-grid-cols-3 tw-gap-1">
    <app-photo/>
    <app-photo/>
    <app-photo/>
    <app-photo/>
    <app-photo/>
    <app-photo/>
    <app-photo/>
    <app-photo/>
    <app-photo/>
  </ul>
</div>
