@if (isLoading()) {
  <div class="post tw-rounded-md'">
    <div class="header">
      <div class="tw-flex tw-justify-between tw-flex-1">
      <div class="tw-flex tw-gap-3">
        <p-skeleton shape="circle" size="2.5rem"></p-skeleton>
        <div class="tw-flex tw-flex-col tw-text-white">
          <p-skeleton width="10rem" styleClass="tw-mb-2"></p-skeleton>
          <p-skeleton width="2rem" styleClass="tw-mb-2"></p-skeleton>
        </div>
      </div>
      </div>
    </div>
    <p-skeleton height="400px"></p-skeleton>
  </div>
} @else {
  <div class="post tw-rounded-md'" [@fadeInOutAnimation]>
  <div class="header">
    <div class="tw-flex tw-justify-between tw-flex-1">
    <div class="tw-flex tw-gap-3">
      <div class="perfil tw-shadow-md"></div>
      <div class="tw-flex tw-flex-col tw-text-white">
        <a href="#" class="hover:tw-underline">Gabriel Cardoso Girarde</a>
        <span class="tw-opacity-70 tw-text-xs">1h</span>
      </div>
    </div>
      <div class="tw-cursor-pointer tw-bg-1000 hover:tw-bg-light-100 tw-rounded-full tw-flex tw-items-center tw-justify-center" style="width: 35px; height: 35px">
        <img src="assets/icons/close.png" alt="" style="filter: invert(1)" width="32">
      </div>
    </div>
  </div>
  <div class="content">
    <p class="tw-text-white opacity-90">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo maxime enim in dolor quo porro debitis dolorum ex quas laboriosam dolore nostrum, neque quis provident suscipit molestiae eveniet temporibus dicta!
    </p>
    <div class="photo"></div>
  </div>
  <div class="tw-flex tw-justify-between tw-text-white">
    <div class="reaction tw-flex tw-gap-2 tw-items-center">
      <ul class="reactions tw-flex tw-list-none tw-gap-1">
        <li class="tw-cursor-pointer">
          <img src="assets/icons/comment/like.svg" alt="" width="16" />
        </li>
        <li class="tw-cursor-pointer">
          <img src="assets/icons/comment/love.svg" alt="" width="16" />
        </li>
      </ul>
      <span class="hover:tw-underline tw-cursor-pointer tw-opacity-70"
        >1000</span
      >
    </div>
    <div class="tw-flex tw-gap-2 tw-opacity-70">
      <span>126</span>
      <span>comentários</span>
    </div>
  </div>
  <hr>
  <ul class="reactions tw-flex tw-list-none tw-text-white tw-justify-center tw-mt-3">
    <li
      class="tw-transition-all tw-flex-1 like tw-relative hover:tw-bg-light-100 tw-cursor-pointer tw-p-1 tw-rounded-md tw-flex tw-gap-2 tw-items-center tw-justify-center"
    >
      <img
        src="assets/icons/comment/like-button.png"
        alt=""
        style="filter: invert(1)"
        width="32"
      />
      Curtir
      <app-comment-reaction/>
    </li>
    <li
      [routerLink]="link"
      class="tw-flex-1 tw-transition-all hover:tw-bg-light-100 tw-cursor-pointer tw-p-1 tw-rounded-md tw-flex tw-gap-2 tw-items-center tw-justify-center"
    >
      <img
        src="assets/icons/comment/comments.png"
        alt=""
        style="filter: invert(1)"
        width="32"
      />
      Comentar
    </li>
  </ul>
</div>
}
