<div class="wrapper tw-flex tw-flex-col tw-gap-2">
  <header class="tw-flex tw-flex-col tw-gap-3">
    <div class="tw-flex tw-justify-between tw-text-white tw-font-bold tw-items-center">
      <h1 class="tw-text-xl">Amigos</h1>
      <a href="#" class="tw-text-sm tw-text-blue-1200 hover:tw-underline" routerLink="/perfil/amigos">Todos os amigos</a>
    </div>
    <span class="tw-text-white tw-opacity-50 tw-text-md">947 amigos</span>
  </header>
  <ul class="tw-grid tw-grid-cols-3 tw-gap-3">
    <app-friend/>
    <app-friend/>
    <app-friend/>
    <app-friend/>
    <app-friend/>
    <app-friend/>
  </ul>
</div>
