<div class="space">
  <div class="wrapper tw-grid tw-overflow-hidden tw-gap-1">
    <div class="area-1">
      <h1 class="tw-text-white tw-text-xl tw-font-bold tw-px-4 tw-pt-4 tw-pb-3">Conversas</h1>
      <div class="scroll tw-overflow-hidden tw-overflow-y-auto">
        <div class="tw-flex tw-flex-col tw-gap-3">
          <span class="tw-flex tw-items-center tw-gap-3 search tw-rounded-xl">
            <i class="pi pi-search tw-ps-2"></i>
            <input type="text" class="tw-bg-transparent tw-outline-none tw-p-1 tw-py-2" placeholder="Buscar mensagem"/>
          </span>
        </div>
        <ul class="messages tw-flex tw-flex-col tw-gap-3 tw-mt-2">
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
          <app-message-item/>
        </ul>
       </div>
    </div>

    <div class="area-2">
      <app-chat-messager-body/>
    </div>

    <div class="area-3">
        <div>
          <div class="perfil"></div>
          <h1 class="tw-text-white tw-font-bold">Gabriel Black</h1>
          <span class="tw-text-white tw-opacity-50 tw-text-sm">Ativo há 2 horas</span>
        </div>
    </div>
   </div>
</div>
