<div class="container">
  <div class="limit">
    <div class="login">
      <section class="activities">
        <h1>Facebook</h1>
      </section>
    </div>
    <section class="login-form">
      <form>
        <input type="text" placeholder="E-mail"/>
        <input type="text" placeholder="Senha" />
        <button class="login">Entrar</button>
        <p>Esqueceu a senha?</p>
        <div class="divider"></div>
        <button class="create" routerLink="/login/register">Criar uma nova conta</button>
      </form>
      <p><strong>Crie uma página</strong> para uma celebridade, marca ou negócio.</p>
    </section>
  </div>
  <div class="register">
    <router-outlet/>
  </div>
</div>
