:host-context(.light) {
  .item {
    .perfil {
      border: 1px solid rgba(0, 0, 0, 0.235);
      @apply tw-shadow-md;
    }

    p {
      color: black !important;
    }

    button:hover {
      opacity: 0.8 !important;
    }

  }
}

:host {

  .item {
    position: relative;

    &.seen {
      opacity: 0.7;
    }

    .seen {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: var(--first-color);
      border-radius: 50%;
      cursor: pointer;
      &.disabled {
        display: none;
      }
    }
    .perfil {
      min-width: 50px;
      min-height: 50px;
      width: 50px;
      height: 50px;
      background-color: var(--white-color-100);
      border-radius: 50%;
      cursor: pointer;
    }

    button {
      max-width: 100px;
    }

    .perfil-like {
      position: relative;
      width: 45px;
      height: 45px;


      img {
        width: 30px;
        position: absolute;
        bottom: 0;
        right: -2%;
      }
    }
  }
}
