<div class="wrapper tw-pb-3" style="background-color: var(--white-color-200);">
  <div class="tw-p-2 tw-pb-3 tw-flex">
    <header class="tw-container tw-mx-auto tw-flex tw-items-center sm:tw-justify-between">
      <h1 class="tw-text-white tw-font-bold tw-self-end tw-text-4xl tw-mb-2 tw-hidden sm:tw-flex">facebug</h1>
      <div class="tw-flex-1 sm:tw-flex-none">
        <div class="email-password-singin tw-flex tw-flex-col tw-mt-4 sm:tw-flex-row tw-items-center sm:tw-items-start tw-gap-3">
          <div class="tw-flex tw-flex-col tw-gap-1 tw-text-center sm:tw-text-start">
            <input class="tw-outline-none sm:tw-p-0 sm:tw-max-w-52 tw-shadow-xl" type="text" placeholder="Email">
          </div>
          <div class="tw-flex tw-flex-col tw-gap-1">
            <input class="tw-outline-none sm:tw-p-0 sm:tw-max-w-52 tw-shadow-xl" type="text" placeholder="Senha">
            <a href="#" class="tw-text-white tw-opacity-80 tw-text-xs hover:tw-underline">Esqueceu a conta?</a>
          </div>
          <button class="hover:tw-opacity-50 tw-border tw-text-white tw-shadow-xl">Entrar</button>
        </div>
      </div>

    </header>
    <div class="dark-theme tw-flex tw-justify-center tw-items-center tw-mr-1 tw-shadow-xl">
      <i></i>
    </div>
  </div>
  <router-outlet/>
</div>
