<div class="wrapper tw-pb-3" style="background-color: var(--white-color-200);">
  <div class="tw-bg-blue-1000 tw-p-2 tw-pb-3">
    <header class="tw-container tw-mx-auto tw-flex tw-items-center sm:tw-justify-between">
      <h1 class="tw-text-white tw-font-bold tw-self-end tw-text-4xl tw-mb-2 tw-hidden sm:tw-flex ">FaceBug</h1>
      <div class="tw-flex-1 sm:tw-flex-none">
        <div class="email-password-singin  tw-flex tw-flex-col sm:tw-flex-row tw-items-center sm:tw-items-start tw-gap-2">
          <div class="tw-flex tw-flex-col tw-gap-1 tw-text-center sm:tw-text-start">
            <label class="tw-text-white tw-text-sm">Email</label>
            <input  class="tw-outline-none tw-px-1 tw-p-1 sm:tw-p-0" type="text">
          </div>
          <div class="tw-flex tw-flex-col tw-gap-1">
            <label class="tw-text-white tw-text-sm tw-text-center sm:tw-text-start">Senha</label>
            <input class="tw-outline-none tw-px-1 tw-p-1 sm:tw-p-0" type="text">
            <a href="#" class="tw-text-white tw-opacity-70  tw-text-xs hover:tw-underline">Esqueceu a conta?</a>
          </div>
          <button class="tw-p-1 tw-w-30vw  sm:tw-w-auto sm:tw-p-0 tw-bg-blue-1100 hover:tw-opacity-50 tw-border-black-1000 tw-border  tw-self-center tw-text-white tw-shadow-lg sm:tw-px-2">Entrar</button>
        </div>
      </div>
    </header>
  </div>
  <router-outlet/>
</div>
