<div class="wrapper" style="background-color: var(--white-color-200);">
  <div class="tw-bg-blue-facebook-100 tw-p-2 tw-pb-3">
    <header class="tw-container tw-mx-auto tw-flex tw-justify-center sm:tw-justify-between">
      <h1 class="tw-text-white tw-font-bold tw-self-end tw-text-4xl tw-mb-2 tw-hidden sm:tw-flex ">Facebook</h1>
      <div>
        <div class="email-password-singin tw-flex tw-gap-3 tw-flex-wrap">
          <div class="tw-flex tw-flex-col tw-gap-1">
            <label class="tw-text-white tw-text-sm">Email</label>
            <input  class="tw-outline-none tw-px-1" type="text">
          </div>
          <div class="tw-flex tw-flex-col tw-gap-1">
            <label class="tw-text-white tw-text-sm">Senha</label>
            <input class="tw-outline-none" type="text">
            <a href="#" class="tw-text-white tw-opacity-70  tw-text-xs hover:tw-underline">Esqueceu a conta?</a>
          </div>
          <button class="tw-bg-blue-facebook-150 hover:tw-opacity-50 tw-border tw-border-black-100 tw-self-center tw-text-white tw-shadow-lg tw-px-2">Entrar</button>
        </div>
      </div>
    </header>
  </div>
  <router-outlet/>
</div>
