:host {
  display: flex;
  flex: 1;
  align-items: center;
  color: white;

  nav {
    flex: 1;
    display: flex;
    height: 100%;
  }

  ul {
    display: flex;
    margin-left: 8rem;
    justify-content: center;
    gap: 2rem;
    height: inherit;
  }

}
