:host {
  .main {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    background-color: var(--second-color-15);
    gap: 1rem;

    .area-2, .area-1 {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
