<li class="tw-flex tw-justify-between tw-p-3 tw-items-center" [@fadeInOutAnimation]>
  <div class="area-1 tw-flex tw-gap-3">
    <p-skeleton height="12vh" width="5vw"/>
    <div class="tw-flex tw-flex-col tw-gap-1 tw-text-white">
      <h1 class="tw-font-bold">Gabriel</h1>
      <span class="tw-text-sm tw-opacity-50">8 amigos comuns</span>
    </div>
  </div>
  <div class="three-dot hover:tw-bg-light-100 tw-p-2 tw-rounded-full" (click)="menu.toggle($event)">
    <img src="assets/icons/more.png">
  </div>
</li>

<p-menu #menu [model]="menuItems" [popup]="true" ></p-menu>
