:host-context(.light) {
  .wrapper {
    background-color: var(--light-mode-100);
  }

  .header {
    background-color: var(--white-color-100);
  }
}

:host {

  .wrapper {
    padding-top: 3.3rem;
    background-color: var(--second-color-15);
  }

  .header {
    background-color: var(--second-color-10);
  }

}
