<div class="container tw-py-4 tw-flex tw-flex-col tw-gap-3 tw-rounded-md" style="background-color: var(--second-color-10);">
  <header class="tw-flex tw-px-3 tw-pb-3 tw-items-center tw-text-white">
    <h1 class="tw-flex-1 tw-text-center tw-font-extrabold tw-text-xl">Criar postagem</h1>
    <div class="close tw-flex tw-items-center hover:tw-bg-light-100  tw-bg-1000 tw-cursor-pointer  tw-rounded-full tw-justify-center" (click)="close()">
      <img src="assets/icons/close.png" alt style="filter: invert(1)">
    </div>
  </header>
  <div class="tw-flex tw-text-white tw-gap-2 tw-px-3">
    <div class="perfil tw-p-5 tw-rounded-full tw-bg-white"></div>
    <h2>Gabriel Cardoso</h2>
  </div>
  <textarea placeholder="O que você está pensando?" class="tw-px-3 tw-resize-none tw-text-white tw-mt-3 tw-p-2 tw-bg-transparent tw-outline-none tw-text-2xl"></textarea>
  <div class="tw-flex tw-justify-end tw-mb-3 tw-px-3">
    <div class="tw-cursor-pointer icon tw-opacity-50 hover:tw-opacity-100" src="assets/icons/happy.png" alt style="background-image: url(/assets/icons/happy.png); background-position: 0px -202px; background-size: 38px 598px; background-repeat: no-repeat; width: 24px; height: 24px;">
    </div>
  </div>
  <div class="photo-and-video tw-p-3 tw-m-3 tw-flex border tw-justify-between tw-text-white  tw-rounded-md tw-items-center">
    <h2 class="tw-opacity-90">Adicionar Foto/Vídeo</h2>
   <div class="hover:tw-bg-light-100 tw-flex tw-items-center tw-justify-center tw-rounded-full" style="width: 50px; height: 50px;">
      <img src="assets/icons/comment/photos.png" alt width="24" class="tw-cursor-pointer">
   </div>
  </div>
  <button class="tw-m-3 tw-bg-light-100 hover:tw-opacity-80 tw-text-white tw-opacity-50 tw-p-2 tw-rounded-md tw-mt-2">Postar</button>
</div>
