<section class="tw-w-full tw-flex tw-flex-col tw-gap-3 tw-rounded-md">
  <header
    class="tw-flex tw-justify-between tw-p-3 tw-items-center tw-text-white"
  >
    <h1 class="tw-text-center tw-flex-1 tw-text-2xl tw-font-bold">Postagens</h1>
    <button class="tw-bg-1000 tw-rounded-full hover:tw-bg-light-100" routerLink="/">
      <img src="assets/icons/close.png" alt style="filter: invert(1)" />
    </button>
  </header>

  <hr class="tw-opacity-30" />

  <div class="scroll tw-p-4">
    <ul class="tw-flex tw-flex-col tw-gap-3">
      <!--Inicio do comentário -->
      <li class="tw-flex tw-gap-3">
        <section class="tw-flex tw-gap-3">
          <div class="perfil tw-bg-white tw-rounded-full"></div>
          <div class="tw-flex-1 tw-flex tw-flex-col tw-gap-1">
            <div
              class="tw-text-white tw-bg-1000 tw-p-2 tw-rounded-lg tw-w-auto"
            >
              <h2>Gabriel Cardoso</h2>
              <p>
                Muito legal essa postagem, você é bem criativo meu nobre amigo!
              </p>
            </div>
            <div class="tw-flex tw-gap-3 tw-text-white tw-text-sm">
              <span class="tw-opacity-60">7h</span>
              <div class="hover:tw-underline like tw-cursor-pointer">
                <span class="tw-opacity-60">Curtir</span>
                <app-comment-reaction />
              </div>
              <a href="#" class="hover:tw-underline tw-opacity-60">Comentar</a>
            </div>
          </div>
        </section>
      </li>
      <li class="tw-flex tw-gap-3">
        <section class="tw-flex tw-gap-3">
          <div class="perfil tw-bg-white tw-rounded-full"></div>
          <div class="tw-flex-1 tw-flex tw-flex-col tw-gap-1">
            <div
              class="tw-text-white tw-bg-1000 tw-p-2 tw-rounded-lg tw-w-auto"
            >
              <h2>Gabriel Cardoso</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi assumenda, illum cupiditate accusantium libero ex deleniti voluptates vitae dignissimos debitis autem neque laborum. Hic velit exercitationem alias animi tempore.
              </p>
            </div>
            <div class="tw-flex tw-gap-3 tw-text-white tw-text-sm">
              <span class="tw-opacity-60">7h</span>
              <div class="hover:tw-underline like tw-cursor-pointer">
                <span class="tw-opacity-60">Curtir</span>
                <app-comment-reaction />
              </div>
              <a href="#" class="hover:tw-underline tw-opacity-60">Comentar</a>
            </div>
          </div>
        </section>
      </li>
    </ul>
  </div>

  <div class="tw-flex tw-gap-3 tw-px-4 tw-pb-5">
    <div class="perfil tw-bg-white tw-rounded-full"></div>
    <div class="tw-flex tw-flex-col tw-flex-1 tw-bg-1000 tw-rounded-xl">
      <textarea
        pInputTextarea
        [autoResize]="true"
        class="tw-text-white tw-resize-none tw-p-2 tw-h-auto tw-flex-1 tw-bg-transparent"
        placeholder="Escreva um comentário"
      ></textarea>
    </div>
  </div>
</section>
