<div class="home">
  <app-header (onShowSidebar)="showSidebar.set(!showSidebar())" />
  <app-sidebar class="tw-hidden xl:tw-block" [ngClass]="{ 'show-sidebar': showSidebar() }" />
  <div class="wrapper">
    <div class="hidden"></div>
    <app-content/>
    <div class="contacts-and-groups xl:tw-flex tw-flex-col tw-gap-3 tw-scroll-smooth tw-hidden">
      <app-contacts/>
      <div class="tw-border tw-opacity-30"></div>
      <app-groups/>
    </div>
    <div class="hidden"></div>
  </div>
</div>

<router-outlet/>
