:host-context(.light) {
  .wrapper {
    background-color: var(--light-mode-100);
    @apply tw-transition-all;
  }

  .contacts-and-groups {
    background-color: var(--light-mode-100);
    @apply tw-transition-all;
  }
}

:host {
  position: relative;

  .contacts-and-groups {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 27vw;
    padding: 1rem;
    padding-top: 4.5rem;
    width: 100%;
    max-height: 100vh;
    z-index: 100;
    background-color: var(--second-color-15);
    overflow-y: auto;

    &::-webkit-scrollbar {
      visibility: hidden;
    }

    &:hover {
      &::-webkit-scrollbar {
        display: block;
      }

    }
  }

  .wrapper {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    justify-items: center;

    .hidden {
      flex: 0.5fr;
    }

    app-content {
      flex: 1;
    }

    app-content {
      max-width: 600px;
      z-index: 200;
    }

    @media (max-width: 80rem) {
      grid-template-columns: 1fr;

      app-content {
        max-width: 60vw;
      }
    }
  }

  app-sidebar {
    width: 25vw;
  }

  .show-sidebar {
    display: block;
    z-index: 1000;
    width: 100vw;
  }

}
