:host-context(.light) {
  .profile {
    border: 1px solid rgba(0, 0, 0, 0.237);
  }

  span, p, h2 {
    color: black !important;
  }
}

:host {

  .item {

    .profile {
      width: 45px;
      height: 45px;
    }
  }
}
