<div class="wrapper tw-flex tw-flex-col tw-gap-3">
 <div class="scroll tw-overflow-hidden tw-overflow-y-auto">
  <div class="tw-flex tw-flex-col tw-gap-3">
    <h1 class="tw-text-white tw-text-xl tw-font-bold">Conversas</h1>
    <span class="tw-flex tw-items-center tw-gap-3 search tw-rounded-xl">
      <i class="pi pi-search tw-ps-2"></i>
      <input type="text" class="tw-bg-transparent tw-outline-none tw-p-1" placeholder="Buscar mensagem"/>
    </span>
  </div>
  <ul class="messages tw-flex tw-flex-col tw-gap-3 tw-mt-2">
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
    <app-header-message-item/>
  </ul>
 </div>
  <div class="all-messager tw-text-center tw-py-5">
    <a class="tw-text-blue-1200 hover:tw-underline tw-cursor-pointer">Veja todas mensagem</a>
  </div>
</div>
