<div class="photo-suggest tw-flex tw-flex-col tw-gap-3">
  <h1 class="tw-flex-1 tw-text-white tw-text-lg">Sugestões</h1>
  <ul class="tw-grid tw-grid-cols-6 tw-gap-3">
    <app-photo-suggest-item/>
    <app-photo-suggest-item/>
    <app-photo-suggest-item/>
    <app-photo-suggest-item/>
    <app-photo-suggest-item/>
    <app-photo-suggest-item/>
    <app-photo-suggest-item/>
    <app-photo-suggest-item/>
    <app-photo-suggest-item/>
    <app-photo-suggest-item/>
    <app-photo-suggest-item/>
    <app-photo-suggest-item/>
  </ul>
  <button class="tw-text-white tw-font-bold tw-rounded-sm">Veja mais</button>
</div>
