:host {

  .app {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color-15);

    .grid {
      flex: 1;
      display: grid;
      grid-template-columns: 0.620fr 1fr 0.434fr;
    }
  }
}
