<main class="main tw-max-w-1000px tw-mx-auto tw-w-full tw-rounded-md tw-flex tw-flex-col tw-gap-4">
  <header class="tw-flex tw-justify-between tw-text-white">
    <h1 class="tw-text-xl tw-font-bold">Amigos</h1>
    <div class="search">
      <img src="assets/icons/header/search.svg" alt>
      <input type="text" name="search" placeholder="Pesquisar">
    </div>
  </header>
  <ul class="tw-grid tw-grid-cols-2 tw-gap-3">
    <app-friend-item/>
    <app-friend-item/>
    <app-friend-item/>
    <app-friend-item/>
  </ul>
</main>
