:host-context(.light) {
  .container {
    background-color: var(--light-mode-100) !important;
    color: black !important;
  }

  input {
    background-color: white !important;
    color: black !important;
    &::placeholder {
      color: inherit !important;
    }
  }

  button {
    img {
      filter: none !important;
    }
  }
}

:host {

  .container {
    color: var(--white-color-100);
    @media (max-width: 80rem) {
      display: none;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    flex: 1;

    h1 {
      font-size: 1.2rem;
      font-weight: bold;
      opacity: 0.7;
    }

    button {
      outline: none;
      border: none;
      background-color: transparent;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      bottom: 0.4rem;

      img {
        filter: invert(1);
      }

      &:hover {
        background-color: var(--second-color-05);
      }
    }

    div {
      display: flex;
      gap: 0.5rem;

      input {
        padding-left: 0.5rem;
        max-width: 13vw;
        flex: 1;
        display: none;
        position: relative;
        bottom: 0.3rem;
        outline: none;
        border: none;
        background-color: var(--second-color-05);
        color: #fff;
        border-radius: 1rem;
        &::placeholder {
          color: var(--white-color-100);
          opacity: 0.8;
        }

        &.open {
          display: block;
        }
      }



    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
