:host {
  li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--second-color-05);
    }

    .perfil {
      padding: 1.2rem;
      background-color: var(--white-color-100);
      border-radius: 50%;
      position: relative;

      .status {
        padding: 0.3rem;
        border-radius: 50%;
        background-color: var(--green-color-100);
        bottom: 0;
        right: 0;
        position: absolute;
      }
    }
  }
}
