<form>
  <header>
    <div>
      <h1>Cadastrar-se</h1>
      <img src="assets/icons/login/close.png" alt="Close" routerLink="/login"/>
    </div>
    <p>É rápido e fácil.</p>
    <div class="divider"></div>
  </header>
  <div class="area">
    <div class="d-1">
      <input type="text" placeholder="Nome" />
      <input type="text" placeholder="Sobrenome" />
    </div>
    <input type="text" placeholder="E-mail" />
    <input type="password" placeholder="Nova senha" />
    <div class="birthday">
      <label>Data de aniversário</label>
      <div class="tw-flex tw-flex-wrap">
        <select>
          <option selected>Abril</option>
        </select>
        <select>
          <option selected>10</option>
        </select>
        <select>
          <option selected>200</option>
        </select>
      </div>
    </div>
    <div class="gender">
      <label>Gênero</label>
      <div>
        <ul class="tw-flex tw-flex-wrap">
          <li>
            <label>Feminino</label>
            <input type="radio" name="gender" />
          </li>
          <li>
            <label>Masculino</label>
            <input type="radio" name="gender"/>
          </li>
          <li>
            <label>Outros</label>
            <input type="radio" name="gender"/>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="terms">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto obcaecati molestias numquam quas modi veritatis nostrum odit magnam quasi?</p>
  </div>
  <button>Cadastrar</button>
</form>
