
<header>
  <div class="first-section">
    <div class="logo" routerLink="/">FB</div>
    <div class="search">
      <img src="assets/icons/header/search.svg" alt>
      <input type="text" name="search" placeholder="Pesquisar Facebook">
    </div>
  </div>
  <div class="second-section">
    <app-nav-list [menus]="navigations"/>
  </div>

  <div class="third-section">
    <ul class="tw-justify-end">
      <li class="!tw-flex xl:!tw-hidden" (click)="toggleShowSidebar()">
        <img src="assets/icons/hamburguer.svg" alt>
      </li>
      <li class="tw-relative" (click)="toggleMessagerMenu()">
        <img src="assets/icons/header/messager.svg" alt>
        <span style="height: 18px; width: 16px; top: -0.4rem; right: 0" class="tw-absolute tw-rounded-full tw-flex tw-items-center tw-justify-center tw-bg-red-500 ">
          1
        </span>
      </li>
      <li (click)="isNotificationRoute() ? null : toggleNotificationMenu()" [class.disabled]="isNotificationRoute()">
        <img src="assets/icons/header/notifications.svg" alt>
      </li>
      <li class="account" (click)="toggleAccountMenu()">
          <a>
            <img src="assets/icons/header/arrow-down.svg" alt>
          </a>
      </li>
    </ul>
  </div>
</header>

@if (openAccountMenu()) {
  <app-header-menu #accountMenu/>
}

@if (openMessagerMenu()) {
  <app-header-message-menu #messagerMenu/>
}

@if (openNotificationMenu()) {
  <app-notification-menu/>
}


