<div class="container" style="background-color: var(--second-color-15);">
  <header>
    <h1>Contatos</h1>
   <div>
      <button (click)="toggleSearchInput()">
        <img src="assets/icons/header/search.svg" alt="Search">
      </button>
      <input type="text" placeholder="Pesquisar" class="{{openSearchInput() ? 'open' : ''}}">
   </div>
  </header>
  <ul class="contacts">
    <app-contact/>
    <app-contact/>
    <app-contact/>
    <app-contact/>
    <app-contact/>
    <app-contact/>
  </ul>
</div>
