:root {
  --first-color: #0866FF;
  --first-color-10: #527AA9;
  --second-color-00: #3A3B3C;
  --second-color-05: #c0c4c745;
  --second-color-10: #242526;
  --second-color-15: #18191A;
  --grey-color-100: #d4d6d9;
  --grey-color-200: #eef2f8d0;
  --grey-color-300: #808080;
  --white-color-100: #fff;
  --white-color-200: #F0F2F5;
  --green-color-100: #36A420;
  --blue-color-100: #2D88FF;
  --blue-color-200: #58719172;

  // Light mode
  --light-mode-100: #F0F2F5;
  --light-mode-200: #d8dadf86;
  --light-mode-300: #f3f3f486;
}
