<div class="comment">
  <div class="area-perfil-and-comment">
    <div class="perfil"></div>
    <input type="text" placeholder="O que você está pensando, Gabriel?" (click)="openMenuPost()">
  </div>
  <div class="divider"></div>
  <ul>
    <li>
      <img src="assets/icons/comment/record.png" alt="Record">
      <span>Video ao vivo</span>
    </li>
    <li>
      <img src="assets/icons/comment/photos.png" alt="Foto e vídeo">
      <span>Foto/vídeo</span>
    </li>
    <li>
      <img src="assets/icons/comment/happiness.png" alt="Sentimento e atividade">
      <span>Sentimento</span>
    </li>
  </ul>

</div>
