/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}


:root {
  --first-color: #0866FF;
  --first-color-10: #527AA9;
  --second-color-00: #3A3B3C;
  --second-color-05: #c0c4c745;
  --second-color-10: #242526;
  --second-color-15: #18191A;
  --grey-color-100: #d4d6d9;
  --grey-color-200: #eef2f8d0;
  --white-color-100: #fff;
  --white-color-200: #F0F2F5;
  --green-color-100: #36A420;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--second-color-15);
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: lighten(#D1D1D1, 50%);
}
