<div class="wrapper tw-flex tw-gap-5 tw-container tw-px-3 tw-pt-5">
  <div class="tw-flex tw-flex-col">
    <p class="tw-text-pretty tw-font-extrabold">
      O Facebook ajuda você a se conectar e compartilhar com as pessoas que
      fazem parte da sua vida
    </p>
    <img src="assets/icons/connect.png" alt />
  </div>
  <div class="tw-flex tw-flex-col tw-gap-3">
    <h1 class="tw-text-3xl tw-font-bold">Abra uma conta</h1>
    <h2 class="tw-text-xl">É gratuito e sempre será</h2>
    <form class="tw-flex tw-gap-3 tw-flex-col tw-mt-2 tw-opacity-90">
      <div class="tw-flex tw-gap-3">
        <input class="tw-px-2" type="text" placeholder="Nome">
        <input class="tw-px-2" type="text" placeholder="Sobrenome">
      </div>
      <input class="tw-px-2" type="text" placeholder="E-mail">
      <input class="tw-px-2" type="text" placeholder="Nova senha">
      <div class="tw-flex tw-flex-col tw-gap-2" style="max-width: 250px;">
        <h3 class="tw-opacity-50 tw-font-bold">Data de nascimento</h3>
        <div class="tw-flex">
          <select class="tw-flex-1 tw-text-center">
            <option selected>10</option>
          </select>
          <select class="tw-flex-1 tw-text-center">
            <option selected>04</option>
          </select>
          <select class="tw-flex-1 tw-text-center">
            <option selected>2000</option>
          </select>
        </div>
      </div>
      <div class="tw-flex tw-flex-col tw-gap-2" style="max-width: 250px;">
        <h3 class="tw-opacity-50 tw-font-bold">Gênero</h3>
        <div class="tw-flex tw-gap-3">
          <div class="tw-flex tw-gap-3 tw-items-center">
            <input type="radio" name="gender">
            <label class="tw-text-xl tw-opacity-70">Feminino</label>
          </div>
          <div class="tw-flex tw-gap-3 tw-items-center">
            <input type="radio" name="gender">
            <label class="tw-text-xl tw-opacity-70">Masculino</label>
          </div>
          <div class="tw-flex tw-gap-3 tw-items-center">
            <input type="radio" name="gender">
            <label class="tw-text-xl tw-opacity-70">Personalizado</label>
          </div>
        </div>
      </div>
      <button class="tw-bg-green-600 hover:tw-opacity-80 tw-rounded-md tw-text-white tw-self-start tw-px-10 tw-py-2 tw-shadow-md">Inscreva-se</button>
    </form>
  </div>
</div>
