:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey-color-200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-width: 320px;

  form {
    background-color: var(--white-color-100);
    border-radius: 0.5rem;
    box-shadow: 0 0 4px #3333332d;
    max-width: 450px;
    width: 100%;
    flex: 1;
    padding-bottom: 1rem;
  }



  header {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 1.5rem;
      }


      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }

    .divider {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.5px;
      background-color: var(--grey-color-100);
      opacity: 0.8;
    }
  }

  .area {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;

    .d-1 {
      display: flex;
      flex: 1;
      gap: 0.8rem;
      flex-wrap: wrap;

      input {
        flex: 1;
      }
    }

    input {
      height: 40px;
    }

    input[type=text], input[type=password] {
      padding: 0.5rem;
      outline: none;
      border: 1px solid var(--grey-color-100);
      background-color: var(--grey-color-200);
      border-radius: 0.2rem;
      font-size: 1rem;
      flex: 1;
    }

    .birthday {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      label {
        font-size: 0.8rem;
      }

      div {
        display: flex;
        gap: 1rem;

        select {
          flex: 1;
          height: 40px;
          border: 1px solid var(--grey-color-100);
          font-size: 1rem;
          padding: 0 0.5rem;
        }
      }
    }

    .gender {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      label {
        font-size: 0.8rem;
      }

      ul {
        list-style: none;
        display: flex;
        gap: 1rem;

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 1;
          border: 1px solid var(--grey-color-100);
          padding: 0 0.5rem;

          label {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .terms {
    flex: 1;
    gap: 1rem;
    flex-direction: column;
    padding: 0 1rem;
    display: flex;

    p {
      word-break: break-all;
      word-wrap: break-word;
      font-size: 0.8rem;
      text-align: start;
    }

    @media (max-width: 60rem) {
      display: none;
    }
  }

  button {
    background-color: var(--green-color-100);
    color: var(--white-color-100);
    max-width: 180px;
    height: 40px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.2rem;

    &:hover {
      opacity: 0.8;
    }
  }

}
