:host {

  .header::before {
    content: "";
    height: 300px;
    display: block;
    background-color: #0866FF;
  }

  .wrapper {
    top: -250px;
    position: relative;

    form {
      border-radius: 10px;
    }

    button {
      font-size: 1.1rem;
      background-color: #42B72A;
    }
  }

  input, select {
    height: 38px;
    border: 1px solid var(--grey-color-100);
    outline: none;
  }

  p-radioButton {
    border: 1px solid var(--grey-color-100);
    border-radius: 500px;
  }

}
