<ul class="tw-shadow-md">
  <li>
    <div class="tw-flex tw-items-center tw-justify-center">
      <i class="icon icon-1" style="background-size: 26px 972px; background-position: 0px -556px;"></i>
    </div>
    <span>Configurações</span>
  </li>
  <li>
    <div class="tw-flex tw-items-center tw-justify-center">
      <i class="icon icon-2" style="background-size: 26px 330px; background-position: 0px -70px;"></i>
    </div>
    <span>Suporte</span>
  </li>
  <li (click)="toggleDisplayTheme()">
    <div class="tw-flex tw-items-center tw-justify-center">
      <i class="icon icon-3" style="background-size: 22px 682px; background-position: 0px -324.5px;"></i>
    </div>
    <span>Display</span>
  </li>
  <li>
    <div class="tw-flex tw-items-center tw-justify-center">
      <i class="icon icon-5" style="background-size: 42px 684px; background-position: 0px -266px;"></i>
    </div>
    <span>Logout</span>
  </li>
</ul>


