<div class="tw-border wrapper tw-flex tw-flex-col tw-gap-3 tw-shadow-md">
  <div class="profile tw-flex tw-gap-3">
    <div class="perfil"></div>
    <div class="tw-flex tw-flex-col">
      <h1>Gabriel Cardoso</h1>
      <a class="tw-opacity-60 hover:tw-underline tw-cursor-pointer tw-text-sm">Veja seu perfil</a>
    </div>
  </div>
  <div class="tw-border-b tw-border-grey-1000 tw-opacity-60"></div>
  <ul>
    <li>
      <div class="tw-flex tw-items-center tw-justify-center">
        <i class="icon icon-1" style="background-size: 26px 972px; background-position: 0px -556px;"></i>
      </div>
      <span>Configurações</span>
    </li>
    <li>
      <div class="tw-flex tw-items-center tw-justify-center">
        <i class="icon icon-2" style="background-size: 26px 330px; background-position: 0px -70px;"></i>
      </div>
      <span>Suporte</span>
    </li>
    <li (click)="toggleDisplayTheme()">
      <div class="tw-flex tw-items-center tw-justify-center">
        <i class="icon icon-3" style="background-size: 22px 682px; background-position: 0px -324.5px;"></i>
      </div>
      <span>Display</span>
    </li>
    <li>
      <div class="tw-flex tw-items-center tw-justify-center">
        <i class="icon icon-5" style="background-size: 42px 684px; background-position: 0px -266px;"></i>
      </div>
      <span>Logout</span>
    </li>
  </ul>
</div>
