<ul>
  <li>
    <i class="icon icon-1" style="background-size: 26px 972px; background-position: 0px -556px;"></i>
    <span>Configurações</span>
  </li>
  <li>
    <i class="icon icon-2" style="background-size: 26px 330px; background-position: 0px -70px;"></i>
    <span>Suporte</span>
  </li>
  <li>
    <i class="icon icon-3" style="background-size: 22px 682px; background-position: 0px -324.5px;"></i>
    <span>Display</span>
  </li>
  <li>
    <i class="icon icon-4" style="background-size: 26px 330px; background-position: 0px -70px;"></i>
    <span>Feedback</span>
  </li>
  <li>
    <i class="icon icon-5" style="background-size: 42px 684px; background-position: 0px -266px;"></i>
    <span>Logout</span>
  </li>
</ul>


