$background-urls: "config.png", "help.png", "theme.png", "alert.png", "leave.png";

:host-context(.light) {
  .wrapper {
    background-color: white !important;

    .profile {
      .perfil {
        background-color: var(--white-color-100);
        border: 1px solid rgba(0, 0, 0, 0.3);
        @apply tw-shadow-sm;
      }

      h1, a {
        color: black !important;
      }
    }
  }


 ul {
  background-color: white !important;
  border: none;
  span {
    color: black !important;
  }

  li {
    div {
      background-color: var(--second-color-05) !important;
    }
  }
  .icon {
    filter: none;
  }
 }
}


:host {

  .wrapper {
    background-color: var(--second-color-10);
    border: 1px solid var(--grey-color-300);
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 3px #3333337d;
    transition: all 0.5s ease-in;

    .profile {
      .perfil {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: var(--white-color-100);
      }

      h1, a {
        color: var(--white-color-100);
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      gap: 0.8rem;
      align-items: center;
      padding: 0.5rem;
      cursor: pointer;
      font-weight: bold;

      div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--second-color-05) !important;
      }

      &:hover {
        background-color: var(--second-color-05);
      }
    }
  }

  .icon {
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    filter: invert(1);
    background-position: center;
    position: relative;
    left: 0.1rem;
  }

  @for $i from 1 through length($background-urls) {
    .icon-#{$i} {
      background-image: url("/assets/icons/header/#{nth($background-urls, $i)}");
    }
  }

  span {
    color: var(--white-color-100);
    position: relative;
    bottom: 0.1rem;
  }

}
